<h1>Draft Picks</h1>
<% debug @picks_by_gender %>

<% @picks_by_gender.keys do |gender| %>
<h3>gender</h3>
<table>
  <tr>
    <th>Number</th>
    <th>Player</th>
    <th>Team</th>
    <th>Automatic Pick?</th>
  </tr>
  <% @picks_by_gender[gender].each do |pick| %>
  <tr>
    <td><%= pick.number %></td>
    <td><%= pick.player %></td>
    <td><%= pick.team %></td>
    <td><%= pick.automatic %></td>
  </tr>
  <% end %>
</table>
<% end %>

<br />

<%= link_to 'New Pick', new_pick_path %>
