<h1>Draft Picks</h1>

<div class="span9">
<% @picks_by_gender.keys.each do |gender| %>
<h3><%= gender %></h3>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Number</th>
      <th>Player</th>
      <th>Team</th>
    </tr>
    <% @picks_by_gender[gender].each do |pick| %>
    <tr>
      <td><%= pick.number %></td>
      <td>
        <% if pick.player %>
          <%= pick.player.name %>
        <% end %>
      </td>
      <td><%= pick.team.color %></td>
      <% if @admin %>
        <td><%= link_to 'Edit pick', edit_pick_path(pick) %></td>
        <td><%= link_to 'Undo pick', pick, method: :put, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>
</div>
