<!DOCTYPE html>
<html>
<head>
  <title>RIPUL Draft</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">RIPUL Draft</a>
      <ul class="nav">
        <li><%= link_to "Undrafted Players", draft_path %></li>
        <li><%= link_to "Teams", teams_path %></li>
        <li><%= link_to "Draft Picks", picks_path %></li>
      </ul>
    </div>
  </div>

  <% flash.each do |name, msg| %>
    <div class="alert-message info">
      <%= content_tag :p, flash[name] %>
    </div>
  <% end %>

</head>
<body>

  <div class="row">
    <div class="span11 offset1">
      <%= yield %>
    </div>
  </div>

</body>
</html>
